{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/homepage.css') }}">
    <script defer src="https://unpkg.com/@popperjs/core@2"></script>
    <script defer src="{{url_for('static', filename='/js/history.js')}}"></script>
    <script defer src="{{url_for('static', filename='/js/session.js')}}"></script>
{% endblock head %}
{% block content %}
    <div class="home-modal">
        <h1>URL Shortener</h1>
        <p>A URL shortener is a tool that helps to reduce the length of a long URL, making it easier to share or save. It replaces a long, complicated URL with a short, simple one, often using a custom domain name. By shortening the URL, it also makes it easier to remember, track, and share on social media platforms. This web page provides information about URL shortening and how it can be used.</p>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                 <h3>Enter URL</h3>
                 {{ form.url() }}
                 {% for error in form.url.errors %}
                    <div style="color: red">[{{ error }}]</div> <br></br>
                 {% endfor %}
                 {{ form.submit() }}
            </p>
        </form>

        {% if result %}
        <img src="" alt="">
        <div class="result-modal">
            <img class="fav" src="http://www.google.com/s2/favicons?domain={{result[1]}}" />
            <p>{{result[1]}}</p>
            <a class="short-url" href="{{result[1]}}" >localhost:5000/{{result[0]}}</a>
            <img class="qrcode" src="{{url_for('static', filename='images/qrcode-' + result[0] + '.png') }}" />
            <button class="copy">Copy</button>
        </div>
        
        {% endif %}
        <div class="tooltip" role="tooltip">Link copied!</div>
    </div>

{% endblock content %}
